@{
    ViewBag.Title = "Home Page";
}

<div class="row top-margin">
    <div class="col-md-offset-4 col-md-2">
        <input type="text" tabindex="0" id="text_input" name="text_input" class="form-control" />
        <div id="mylist" class="list-group">

        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" id="target">Создать</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" id="delete">Удалить</button>
    </div>
</div>